<nav class="navbar navbar-expand-lg navbar-light bg-white barra">
  <div class="container-fluid">
    <div class="logo_nav">
      <a href=""><img src="../../../assets/icono_peque.png"></a>
    </div>
    <a class="navbar-brand" href=""><span  style="font-weight: bold;">Zamburiñas</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Inicio</a>
        </li>
        <div class="logo_nav">
          <a href=""><img src="../../../assets/CDS_horizontal_rgb.png"></a>
        </div>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Acerca de</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Servicios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Servicio 1</a></li>
            <li><a class="dropdown-item" href="#">Servicio 2</a></li>
            <li><a class="dropdown-item" href="#">Servicio 3</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>